<!-- This is the chosen destination modal -->
<div id="chosen-destination" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{city}}</h2>
        </div>
        <div>
            <div class="uk-modal-body">
{{!-- TODO: add average rating to destination model? --}}
                <p>Average rating:{{city.average}}</p>
{{!-- should we have an image or something? --}}
                <p>Been there, done that!</p>
                <p>How hot was it?</p>
{{!-- TODO: add rating selector --}}
{{!-- TODO: handle submission --}}
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Leave</button>
                <button id="submit-rating" class="uk-button-secondary" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>

{{!-- luke, you can change based on how we address --}}
<script src="/assets/js/rate.js"></script>