{{!--   This is the chosen destination modal  --}}
    <div id="search-destination" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">[city]
                    {{!-- funcationality? --}}
                    {{!-- poitive review  --}}
                    <span class="uk-margin-small-right" uk-icon="star"></span>
                    {{!-- negative review --}}
                    <span class="uk-margin-small-right" uk-icon="trash"></span>
                </h2>
            </div>

            <div>
                <div class="uk-modal-body uk-text-center uk-padding-large">
                    {{!--  TODO: connect rating to city and update  --}}
                    <p>Been there, done that?</p>
                    <p>Was it hot?</p>
                    <div>
                        <button class="uk-button uk-button-link uk-padding-large"><span uk-icon="icon: check"></span></button>
                        <button class="uk-button uk-button-link uk-padding-large"><span uk-icon="icon: close"></span></button>
                    </div>
                    {{!--  TODO: handle rating submission --}}
                </div>
                <div class="uk-modal-footer uk-text-right">
                </div>
            </div>
        </div>
    </div>