{{!-- THROBBER... ew Jacob --}}
<section id="spinner" class="uk-text-center uk-padding-large" hidden>
    <div><span uk-spinner="ratio: 4.5"></span></div>
</section>

    <script src="/javascript/script.js"></script>