{{!-- USER LOCATION --}}
<section id="location">
    <form>
        <div class="uk-column-1-2@l">
            <div class="uk-text-center uk-padding-large uk-margin">
                <div><span uk-icon="icon: location; ratio: 4"></span></div>
                <div class="uk-padding-small"><label for="user-zip">Where are you?</label></div>
                <div><input class="uk-input uk-form-width-small" type="text" minlength="5" name="user-zip" id="user-zip" name="user-zip" placeholder="Zip Code" /></div>
                <p>It's about to get a whole lot hotter!</p>
            </div>
            <div class="uk-text-center uk-padding-large uk-margin">
                <div><span uk-icon="icon: world; ratio: 4"></span></div>
                <div class="uk-padding-small"><label for="">Are you ready?</label></div>
                <div><input type="submit" value="Let's go!" class="search-button uk-input uk-form-width-small uk-button-secondary" /></div>
                <p>I hope you packed your sunscreen!</p>
            </div>
        </div>
    </form>
</section>

<script> src="public/javascript/script.js"</script>