<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="./assets/img/heat.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="./assets/style.css" />

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/js/uikit-icons.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="./assets/script.js"></script>
        <script src="./assets/updatescript.js"></script>
        
        
        <title>Get Me the Hell Out of Here</title>
    </head>

    <body>  
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <img src="../public/img/heat.png" height="40" width="40" class="uk-logo uk-margin-medium-left" uk-svg></img>
            </div>
            <div class="uk-navbar-right uk-margin-medium-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a uk-toggle="target: #uk-iconnav" uk-navbar-toggle-icon href="#"></a>
                            <ul class="uk-iconnav" id="uk-iconnav">
                                <li><a href="#locations"><span class="uk-margin-small-right" uk-icon="icon: world"></span></a></li>
                                {{!-- TODO:  destination search taget destinations modal --}}
                                <li><a class="uk-navbar-toggle" uk-search-icon uk-toggle href="#search-destination">Explore Destinations</a></li>
                                {{!-- Team --}}
                                <li><a href="#credits"><span class="uk-margin-small-right" uk-icon="icon: users"></span></a></li>
                                {{#if user}}
                                {{!-- TODO: sign out --}}
                                <li><a href="logout"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span></a></li>
                                {{else}}
                                {{!-- TODO: sign in target login modal--}}
                                <li><a href="/views/" uk-toggle="target: #modal-close-default"><span class="uk-margin-small-right" uk-icon="icon: sign-in"></span></a></li>
                                {{/if}}
                            </ul>

                    </li>
                </ul>
            </div>
        </nav>

        {{!-- This is the user login modal --}}
        <div id="user-login" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Make yourself at home!</h2>
                </div>
                <div>
                    <div class="uk-modal-body">
                        <div><input class="uk-input uk-form-width-small" type="text" name="user-email" id="user-email" name="user-email" placeholder="Email Address" /></div>
                        <div><input class="uk-input uk-form-width-small" type="text" name="user-pw" id="user-pw" name="user-pw" placeholder="Password" /></div>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button id="submit-login" class="uk-button-secondary" type="button">Login</button>
                        {{!-- TODO: handle submission --}}
                    </div>
                </div>
            </div>
        </div>

        {{!--  This is the search / chosen destination modal  --}}
        <div id="search-destination" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    {{#if Destination}}
                    <h2 class="uk-modal-title">{{city}}</h2>
                    {{/if}}
                </div>
                <div>
                    <div class="uk-modal-body">
                        <form class="uk-search uk-search-large">
                            <input class="uk-search-input uk-text-center" type="search" placeholder="Explore Destinations" autofocus>
                        </form>
                        {{#if Destination}}
                        {{!-- TODO: connect rating to city and update --}}
                        <p>Hot or Not:{{review}}</p>
                        <p>Been there, done that!</p>
                        <p>Was it hot?</p>
                        <button class="uk-button uk-button-link"><span uk-icon="icon: check"></span></button>
                        <button class="uk-button uk-button-link"><span uk-icon="icon: close"></span></button>
                        {{!-- TODO: handle submission --}}
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button id="submit-rating" class="uk-button-secondary" type="button">Submit</button>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <main>
            <section id="explanation">
                <div class="uk-flex uk-child-width-1-2@m" uk-grid>

                    <div class="uk-card">
                        <img src="../public/img/photo-1594478277825-11f41a17122a.jpg" alt="">
                        <div class="uk-overlay uk-position-medium uk-position-top-center uk-hidden@m">
                            <h1 id="h1">Get Me the Hell Out of Here!</h1>
                        </div>
                    </div>

                    <div class="uk-card uk-flex-first@m">
                        <div class="uk-container-center uk-padding-large uk-text-middle">
                            <h1 class="uk-visible@m">Get Me the Hell Out of Here!</h1>
                            <h2 class="uk-heading-line uk-text-right uk-margin-small-right"><span>What we do</span></h2>
                            <p>Enter your current location and GTHO will connect you with the next flight out of there. We know you like it hot and this ones gonna be a scorcher!
                            </p>
                            <div class="down-button uk-text-center uk-padding-large">
                                <p>What are you waiting for? Get the hell out of here!</p>
                                <a class="uk-link-muted uk-text-break" href="#location" uk-icon="icon: chevron-down"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            {{>userlocation}}

            {{!-- DIVIDER --}}
            <section>
                <div class="uk-text-center uk-padding-large">
                    <hr class="uk-divider-icon">
                    </span>
                </div>
            </section>


            {{!-- THROBBER... ew Jacob --}}
            <section id="spinner" class="uk-text-center uk-padding-large" hidden>
                <div><span uk-spinner="ratio: 4.5"></span></div>
            </section>

            {{>results}}

        </main>

        <footer id="credits">
            <div class="uk-card uk-background-muted uk-padding">
                <h3 class="uk-heading-line uk-text-right uk-margin-small-left"><span>Brought to you by</span></h3>

                <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                    <div class="uk-background-muted uk-small-padding"><a href="https://github.com/flumanuck"><span class="uk-margin-small" uk-icon="icon: github"></span> Jacob Machlis</div>

                    <div class="uk-background-muted uk-small-padding"><a href="https://github.com/michalakisluke"><span class="uk-margin-small" uk-icon="icon: github-alt"></span> Luke Michalakis</div>

                    <div class="uk-background-muted uk-small-padding"><a href="https://github.com/sarahdickinson"><span class="uk-margin-small" uk-icon="icon: github"></span> Sarah Dickinson</div>
                </div>
                {{!-- TODO: create button --}}
                <div>Clear my ratings.</div>
            </div>
        </footer>

        <script src="../public/javascript/script.js"></script>
        <script src="../public/javascript/login.js"></script>
        <script src="../public/javascript/logout.js"></script>
        <script src="../public/javascript/delete-ratings.js"></script>
        <script src="../public/javascript/vote.js"></script>

     </body>

</html>