    <footer id="credits">

        <div class="uk-card uk-background-muted uk-padding">
            <h3 class="uk-heading-line uk-text-right uk-margin-small-left"><span>Brought to you by</span></h3>

            <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                <div class="uk-background-muted uk-link-muted uk-small-padding"><a href="https://github.com/flumanuck"><span class="uk-margin-small" uk-icon="icon: github"></span> Jacob Machlis</div>

                <div class="uk-background-muted uk-link-muted uk-small-padding"><a href="https://github.com/michalakisluke"><span class="uk-margin-small" uk-icon="icon: github-alt"></span> Luke Michalakis</div>

                <div class="uk-background-muted uk-link-muted uk-small-padding"><a href="https://github.com/sarahdickinson"><span class="uk-margin-small" uk-icon="icon: github"></span> Sarah Dickinson</div>
            </div>
        </div>
    </footer>