<nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <img src="/public/img/heat.png" height="40" width="40" class="uk-logo uk-margin-medium-left" uk-svg></img>
        </div>

        <div class="uk-navbar-right uk-margin-medium-right">

            <ul class="uk-navbar-nav uk-iconnav" id="uk-iconnav">
                {{!--   TODO: destination search target destinations modal  --}}
                <li><a class="uk-navbar-toggle" uk-toggle href="#search-destination" uk-tooltip="Explore Destinations"><span class="uk-margin-small-right" uk-search-icon></span></a></li>
                {{!--   User location  --}}
                <li><a href="#locations" uk-tooltip="Let's Go"><span class="uk-margin-small-right" uk-icon="icon: world"></span></a></li>
                {{#if user}}
                {{!--  TODO: logout  --}}
                <li><a href="#" id="logout" uk-tooltip="Logout"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span></a></li>
                {{!-- TODO: delete user reviews --}}
                <li><a ref="#" id="delete" uk-tooltip="Remove my ratings"><span class="uk-margin-small-right" uk-icon="refresh"></span></a></li>
                {{else}}
                {{!--  TODO: sign in target login modal  --}}
                <li><a class="uk-navbar-toggle" uk-toggle href="#user-login" uk-tooltip="Sign up & Login"><span class="uk-margin-small-right" uk-icon="icon: sign-in"></span></a></li>
                {{/if}}
                {{!--   Team  --}}
                <li><a href="#credits" uk-tooltip="Team"><span class="uk-margin-small-right" uk-icon="icon: users"></span></a></li>
            </ul>
            <ul class="uk-iconnav">
                <li><a class="uk-navbar-toggle" uk-toggle="target: #uk-iconnav; mode: click" uk-tooltip="Menu"><span class="uk-margin-small-right" uk-icon="icon: menu"></span></a></li>
            </ul>
        </div>
    </nav>

    <main>    
        <section id="explanation">
            <div class="uk-flex uk-child-width-1-2@m" uk-grid>

                <div class="uk-card">
                    <img src="/public/img/photo-1594478277825-11f41a17122a.jpg" alt="">
                    <div class="uk-overlay uk-position-medium uk-position-top-center uk-hidden@m">
                        <h1 id="h1">Get Me the Hell Out of Here!</h1>
                    </div>
                </div>

                <div class="uk-card uk-flex-first@m">
                    <div class="uk-container-center uk-padding-large uk-text-middle">
                        <h1 class="uk-visible@m">Get Me the Hell Out of Here!</h1>
                        <h2 class="uk-heading-line uk-text-right uk-margin-small-right"><span>What we do</span></h2>
                        <p>Enter your current location and GTHO will connect you with the next flight out of there. We know you like it hot and this ones gonna be a scorcher!
                        </p>
                        <div class="down-button uk-text-center uk-padding-large">
                            <p>What are you waiting for? Get the hell out of here!</p>
                            <a class="uk-link-muted uk-text-break" href="#location" uk-icon="icon: chevron-down"></a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

{{>userlocation}}

{{!-- DIVIDER --}}
        <section>
            <div class="uk-text-center uk-padding-large">
                <hr class="uk-divider-icon">
                </span>
            </div>
        </section>


{{!-- THROBBER... ew Jacob --}}
        <section id="spinner" class="uk-text-center uk-padding-large" hidden>
            <div><span uk-spinner="ratio: 4.5"></span></div>
        </section>


{{>result}}

    </main>

    <footer id="credits">

        <div class="uk-card uk-background-muted uk-padding">
            <h3 class="uk-heading-line uk-text-right uk-margin-small-left"><span>Brought to you by</span></h3>

            <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                <div class="uk-background-muted uk-link-muted uk-small-padding"><a href="https://github.com/flumanuck"><span class="uk-margin-small" uk-icon="icon: github"></span> Jacob Machlis</div>

                <div class="uk-background-muted uk-link-muted uk-small-padding"><a href="https://github.com/michalakisluke"><span class="uk-margin-small" uk-icon="icon: github-alt"></span> Luke Michalakis</div>

                <div class="uk-background-muted uk-link-muted uk-small-padding"><a href="https://github.com/sarahdickinson"><span class="uk-margin-small" uk-icon="icon: github"></span> Sarah Dickinson</div>
            </div>
        </div>
    </footer>

