{{>nav}}

    <main>    
        <section id="explanation">
            <div class="uk-flex uk-child-width-1-2@m" uk-grid>

                <div class="uk-card">
                    <img src="../public/img/photo-1594478277825-11f41a17122a.jpg" alt="">
                    <div class="uk-overlay uk-position-medium uk-position-top-center uk-hidden@m">
                        <h1 id="h1">Get Me the Hell Out of Here!</h1>
                    </div>
                </div>

                <div class="uk-card uk-flex-first@m">
                    <div class="uk-container-center uk-padding-large uk-text-middle">
                        <h1 class="uk-visible@m">Get Me the Hell Out of Here!</h1>
                        <h2 class="uk-heading-line uk-text-right uk-margin-small-right"><span>What we do</span></h2>
                        <p>Enter your current location and GTHO will connect you with the next flight out of there. We know you like it hot and this ones gonna be a scorcher!
                        </p>
                        <div class="down-button uk-text-center uk-padding-large">
                            <p>What are you waiting for? Get the hell out of here!</p>
                            <a class="uk-link-muted uk-text-break" href="/views/partials/result.handlebars" uk-icon="icon: chevron-down"></a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

{{>userlocation}}

{{!-- DIVIDER --}}
        <section>
            <div class="uk-text-center uk-padding-large">
                <hr class="uk-divider-icon">
                </span>
            </div>
        </section>


{{!-- THROBBER... ew Jacob --}}
        <section id="spinner" class="uk-text-center uk-padding-large" hidden>
            <div><span uk-spinner="ratio: 4.5"></span></div>
        </section>


{{>result}}

    </main>

{{>footer}}
