<nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <img src="assets/img/heat.png" height="40" width="40" class="uk-logo uk-margin-medium-left" uk-svg></img>
        </div>

        <div class="uk-navbar-right uk-margin-medium-right">

            <ul class="uk-navbar-nav uk-iconnav" id="uk-iconnav">
                {{!-- <!--  TODO: destination search target destinations modal --> --}}
                <li><a class="uk-navbar-toggle" uk-toggle href="#search-destination" uk-tooltip="Explore Destinations"><span class="uk-margin-small-right" uk-search-icon></span></a></li>
                <!--  User location -->
                <li><a href="#locations" uk-tooltip="Let's Go"><span class="uk-margin-small-right" uk-icon="icon: world"></span></a></li>
                {{#if user}}
                {{!-- <!-- TODO: logout --> --}}
                <li><a href="#" id="logout" uk-tooltip="Logout"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span></a></li>
                {{!-- TODO: delete user reviews --}}
                <li><a ref="#" id="delete" uk-tooltip="Remove my ratings"><span class="uk-margin-small-right" uk-icon="refresh"></span></a></li>
                {{else}}
                {{!-- <!-- TODO: sign in target login modal --> --}}
                <li><a class="uk-navbar-toggle" uk-toggle href="#user-login" uk-tooltip="Sign up & Login"><span class="uk-margin-small-right" uk-icon="icon: sign-in"></span></a></li>
                {{/if}}
                {{!-- <!--  Team --> --}}
                <li><a href="#credits" uk-tooltip="Team"><span class="uk-margin-small-right" uk-icon="icon: users"></span></a></li>
            </ul>
            <ul class="uk-iconnav">
                <li><a class="uk-navbar-toggle" uk-toggle="target: #uk-iconnav; mode: click" uk-tooltip="Menu"><span class="uk-margin-small-right" uk-icon="icon: menu"></span></a></li>
            </ul>
        </div>
    </nav>