{{!--   This is the search destination modal  --}}
<div id="search" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Where to?</h2>
        </div>

        <div>
            <div class="uk-modal-body uk-text-center uk-padding-large">
                <form class="uk-search uk-search-large">
                    <input id="search" class="uk-search-input uk-text-center" type="search" onekeyup="search" placeholder="Explore Destinations" autofocus>
                </form>
            </div>
            <ul id="destinationsList"></ul>
            <div class="uk-modal-footer uk-text-right"></div>
        </div>
        <script src=""></script>
    </div>
</div>